@model Assignment.Models.Courses

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Courses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterOffered" class="control-label"></label>
                <input asp-for="SemesterOffered" class="form-control" />
                <span asp-validation-for="SemesterOffered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterOffered2" class="control-label"></label>
                <input asp-for="SemesterOffered2" class="form-control" />
                <span asp-validation-for="SemesterOffered2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrereqCourseCode" class="control-label"></label>
                <input asp-for="PrereqCourseCode" class="form-control" />
                <span asp-validation-for="PrereqCourseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compulsory" class="control-label"></label>
                <input asp-for="Compulsory" class="form-control" />
                <span asp-validation-for="Compulsory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
